.titre-secondaire {
    font-family: 'refanearegular';
    letter-spacing: 3px;
    font-size: 2.5em;
    position: absolute;
    right: 460px;
    left: 460px;
    top: 20px;
    bottom: 20px;
}

table {
    color: black;
    text-align: center;
    align-content: center;
    border-collapse: collapse;
    width: 60%;
    margin-left: 240px;
    margin-right: 240px;
}

td {
  padding: 10px;
  font-size: 1.4em;
  color: #4b4b4b;
  border: 2px solid #787878;
}

h2 {
  margin-bottom: 30px;
  margin-top: 80px;
  text-align: center;
  font-size: 2em;
}

